name: Next Deployment
on:
  push:
    branches: [production]

jobs:
  deploy:
    runs-on: ubuntu-latest
    stops:
    - name: Deploy-using-ssh
    uses: appleboy/ssh-action@master
    with:
      host: ${{ secrets.HOST}}
      username: ${{ secrets.USERNAME }}
      password: ${{ secrets.PASSWORD }}
      port: 22
      script:
        cd /home/services/MovieList
        git fetch-origin
        git checkout production 
        git pull
        docker-compose up -d --build
        docker stop projectmovie || true
        docker rm projectmovie || true
        docker run -d --name projectmovie -p 4000:3000 projectmovie
